
/// Font stack 
$font-stack: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

/// Color Scheme 
$background: #FFFFFF;
$primary-color: #303F9F;
$secondary-color: #F4F6FF;
$highlight-color: #5C6DC9;


$light-textcolor: #EFF1FF;
$dark-textcolor: #000000;

$reg-fontsize: 1.1em;
$button-fontsize: 1em;
$header-fontsize: 1.2em;

@mixin dark-basics() {
    background-color: $primary-color;
    color: $light-textcolor;
    font-family: $font-stack;
    font-size: $reg-fontsize;
}

@mixin light-basics() {
    background-color: $secondary-color;
    color: $dark-textcolor;
    font-family: $font-stack;
    font-size: $reg-fontsize;
}

@mixin grid-display() {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: [left] 12em [vert-div] repeat(3, minmax(200px, 1fr));
    grid-template-rows: [top] 4em [horz-div] 3em [p] 1fr;
    grid-template-areas: 
        "logo . . ."
        ". header header header"
        "nav content content content";
    font-family: $font-stack;
    align-items: start;
    justify-items: stretch;
    justify-content: stretch;
    overflow-x: hidden;
}